.game {
    align-items: normal;
}

.game__space {
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    canvas {
    }
}
.game__space-textarea {
    position: absolute;
    left: 50%;
    top: 40px;
    transform: translateX(-50%);

    padding: 20px;

    border: 2px solid #000;
    border-radius: 20px;
}