.game {
    align-items: normal;
}

.game__space {
    max-width: 100vw;
    max-height: 100vh;

    flex-grow: 1;

    display: flex;

    position: relative;

    canvas {
        min-width: 320px;
        width: 100%;
    }
}
.game__space-textarea {
    position: absolute;
    left: 50%;
    top: 40px;
    transform: translateX(-50%);

    padding: 20px;

    border: 2px solid #000;
    border-radius: 20px;
}